In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations

In [6]:
data = pd.read_csv("data/credits.csv")
movies = pd.read_csv("data/tmdb_5000_credits.csv")
merged = pd.merge(data, movies, left_on="person_id", right_on="movie_id")
merged.head(100)

,person_id,id,name,character,role,movie_id,title,cast,crew
0,9451,tm84618,Charles Scorsese,Iris' Father (newspaper article) (uncredited),ACTOR,9451,Election,"[{""cast_id"": 8, ""character"": ""Jim McAllister"",...","[{""credit_id"": ""563a29ebc3a3681b59021702"", ""de..."
1,6639,tm154986,Ned Beatty,Bobby Trippe,ACTOR,6639,Love in the Time of Cholera,"[{""cast_id"": 17, ""character"": ""Florentino Ariz...","[{""credit_id"": ""52fe4461c3a36847f8092731"", ""de..."
2,11478,tm127384,Carol Cleveland,Zoot / Dingo,ACTOR,11478,The Skulls,"[{""cast_id"": 9, ""character"": ""Lucas \""Luke\"" M...","[{""credit_id"": ""52fe44489251416c7502f3a9"", ""de..."
3,14351,tm120801,Jim Brown,Robert Jefferson,ACTOR,14351,Crossover,"[{""cast_id"": 1, ""character"": ""Tech"", ""credit_i...","[{""credit_id"": ""56a4d4059251410c08004969"", ""de..."
4,24126,tm120801,Robert Ryan,Col. Everett Dasher Breed,ACTOR,24126,Warlock: The Armageddon,"[{""cast_id"": 1, ""character"": ""Warlock"", ""credi...","[{""credit_id"": ""52fe4483c3a368484e0276a3"", ""de..."
...,...,...,...,...,...,...,...,...,...
95,338,ts20983,Miki Nagasawa,Maya Ibuki (voice),ACTOR,338,"Good bye, Lenin!","[{""cast_id"": 4, ""character"": ""Alexander 'Alex'...","[{""credit_id"": ""52fe4239c3a36847f800d9c5"", ""de..."
96,9303,tm192405,Ethan Hawke,Vincent Freeman,ACTOR,9303,Bound,"[{""cast_id"": 1, ""character"": ""Violet"", ""credit...","[{""credit_id"": ""54f052b8c3a3686d580079ef"", ""de..."
97,4517,tm192405,Jude Law,Jerome Eugene Morrow,ACTOR,4517,Elizabeth: The Golden Age,"[{""cast_id"": 5, ""character"": ""Elizabeth I"", ""c...","[{""credit_id"": ""52fe43c8c3a36847f806f1b9"", ""de..."
98,9304,tm192405,Alan Arkin,Detective Hugo,ACTOR,9304,Multiplicity,"[{""cast_id"": 11, ""character"": ""Doug Kinney"", ""...","[{""credit_id"": ""52fe44e4c3a36847f80b0553"", ""de..."
99,9306,tm192405,Loren Dean,Adult Anton Freeman,ACTOR,9306,The Island of Dr. Moreau,"[{""cast_id"": 7, ""character"": ""Dr. Moreau"", ""cr...","[{""credit_id"": ""56d37a4592514154b60014dc"", ""de..."

In [7]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  1994 non-null   int64
 1   id         1994 non-null   object
 2   name       1994 non-null   object
 3   character  1863 non-null   object
 4   role       1994 non-null   object
 5   movie_id   1994 non-null   int64
 6   title      1994 non-null   object
 7   cast       1994 non-null   object
 8   crew       1994 non-null   object
dtypes: int64(2), object(7)
memory usage: 140.3+ KB

In [8]:
merged.describe

<bound method NDFrame.describe of       person_id         id              name  \
0          9451    tm84618  Charles Scorsese
1          6639   tm154986        Ned Beatty
2         11478   tm127384   Carol Cleveland
3         14351   tm120801         Jim Brown
4         24126   tm120801       Robert Ryan
...         ...        ...               ...
1989      16337   tm988879       Tony Parker
1990         18  tm1076198   Stefano Accorsi
1991      44945  tm1141346       Laara Sadiq
1992     139715  tm1020293   Dalal Abdelaziz
1993        497  tm1040816  Jolina Magdangal

                                          character   role  movie_id  \
0     Iris' Father (newspaper article) (uncredited)  ACTOR      9451
1                                      Bobby Trippe  ACTOR      6639
2                                      Zoot / Dingo  ACTOR     11478
3                                  Robert Jefferson  ACTOR     14351
4                         Col. Everett Dasher Breed  ACTOR     24126
...                                             ...    ...       ...
1989                                            NaN  ACTOR     16337
1990                                      Narratore  ACTOR        18
1991                                        (voice)  ACTOR     44945
1992                                            NaN  ACTOR    139715
1993                                         Jolene  ACTOR       497

                              title  \
0                          Election
1       Love in the Time of Cholera
2                        The Skulls
3                         Crossover
4           Warlock: The Armageddon
...                             ...
1989  The Texas Chainsaw Massacre 2
1990              The Fifth Element
1991                          Trust
1992          Detention of the Dead
1993                 The Green Mile

                                                   cast  \
0     [{"cast_id": 8, "character": "Jim McAllister",...
1     [{"cast_id": 17, "character": "Florentino Ariz...
2     [{"cast_id": 9, "character": "Lucas \"Luke\" M...
3     [{"cast_id": 1, "character": "Tech", "credit_i...
4     [{"cast_id": 1, "character": "Warlock", "credi...
...                                                 ...
1989  [{"cast_id": 2, "character": "Lieutenant 'Left...
1990  [{"cast_id": 5, "character": "Korben Dallas", ...
1991  [{"cast_id": 32, "character": "William \"Will\...
1992  [{"cast_id": 4, "character": "Eddie", "credit_...
1993  [{"cast_id": 4, "character": "Paul Edgecomb", ...

                                                   crew
0     [{"credit_id": "563a29ebc3a3681b59021702", "de...
1     [{"credit_id": "52fe4461c3a36847f8092731", "de...
2     [{"credit_id": "52fe44489251416c7502f3a9", "de...
3     [{"credit_id": "56a4d4059251410c08004969", "de...
4     [{"credit_id": "52fe4483c3a368484e0276a3", "de...
...                                                 ...
1989  [{"credit_id": "52fe46c79251416c750833ed", "de...
1990  [{"credit_id": "52fe420fc3a36847f8000c09", "de...
1991  [{"credit_id": "56178ea59251412ae5002167", "de...
1992  [{"credit_id": "52fe4c6ac3a368484e1b7457", "de...
1993  [{"credit_id": "52fe424ac3a36847f8012bdd", "de...

[1994 rows x 9 columns]>

In [30]:
merged.isna().mean().sort_values(ascending=False)
merged.duplicated().sum()

np.int64(0)

In [51]:
actor_counts = (merged.groupby('name')['movie_id']
                .nunique()
                .sort_values(ascending=False))

In [65]:
merged.head()

,person_id,id,name,character,role,movie_id,title,cast,crew
0,9451,tm84618,Charles Scorsese,Iris' Father (newspaper article) (uncredited),ACTOR,9451,Election,"[{""cast_id"": 8, ""character"": ""Jim McAllister"",...","[{""credit_id"": ""563a29ebc3a3681b59021702"", ""de..."
1,6639,tm154986,Ned Beatty,Bobby Trippe,ACTOR,6639,Love in the Time of Cholera,"[{""cast_id"": 17, ""character"": ""Florentino Ariz...","[{""credit_id"": ""52fe4461c3a36847f8092731"", ""de..."
2,11478,tm127384,Carol Cleveland,Zoot / Dingo,ACTOR,11478,The Skulls,"[{""cast_id"": 9, ""character"": ""Lucas \""Luke\"" M...","[{""credit_id"": ""52fe44489251416c7502f3a9"", ""de..."
3,14351,tm120801,Jim Brown,Robert Jefferson,ACTOR,14351,Crossover,"[{""cast_id"": 1, ""character"": ""Tech"", ""credit_i...","[{""credit_id"": ""56a4d4059251410c08004969"", ""de..."
4,24126,tm120801,Robert Ryan,Col. Everett Dasher Breed,ACTOR,24126,Warlock: The Armageddon,"[{""cast_id"": 1, ""character"": ""Warlock"", ""credi...","[{""credit_id"": ""52fe4483c3a368484e0276a3"", ""de..."

In [25]:
top_actors = (
    merged.groupby('name')['movie_id']
        .nunique()
        .reset_index()
        .sort_values(by='movie_id', ascending=False)
        .head(10)
)

print(top_actors)

                     name  movie_id
980       Ángela Cremonte         1
0           Aakomon Jones         1
1    Aaron Taylor-Johnson         1
2          Aason Nadjiwan         1
3              Adam Beach         1
964              Xu Razer         1
963   Wotan Wilke Möhring         1
962           Woody Allen         1
961           Winnie Böwe         1
960     Wilmer Valderrama         1

In [88]:
actors_df = merged[merged['role'] == 'ACTOR']

In [94]:
movie_actors = actors_df.groupby('movie_id')['name'].apply(list)
pair_list = []
for actors in movie_actors:
    for pair in combinations(sorted(set(actors)), 2):
        pair_list.append(pair)

In [26]:
merged.head()

,person_id,id,name,character,role,movie_id,title,cast,crew
0,9451,tm84618,Charles Scorsese,Iris' Father (newspaper article) (uncredited),ACTOR,9451,Election,"[{""cast_id"": 8, ""character"": ""Jim McAllister"",...","[{""credit_id"": ""563a29ebc3a3681b59021702"", ""de..."
1,6639,tm154986,Ned Beatty,Bobby Trippe,ACTOR,6639,Love in the Time of Cholera,"[{""cast_id"": 17, ""character"": ""Florentino Ariz...","[{""credit_id"": ""52fe4461c3a36847f8092731"", ""de..."
2,11478,tm127384,Carol Cleveland,Zoot / Dingo,ACTOR,11478,The Skulls,"[{""cast_id"": 9, ""character"": ""Lucas \""Luke\"" M...","[{""credit_id"": ""52fe44489251416c7502f3a9"", ""de..."
3,14351,tm120801,Jim Brown,Robert Jefferson,ACTOR,14351,Crossover,"[{""cast_id"": 1, ""character"": ""Tech"", ""credit_i...","[{""credit_id"": ""56a4d4059251410c08004969"", ""de..."
4,24126,tm120801,Robert Ryan,Col. Everett Dasher Breed,ACTOR,24126,Warlock: The Armageddon,"[{""cast_id"": 1, ""character"": ""Warlock"", ""credi...","[{""credit_id"": ""52fe4483c3a368484e0276a3"", ""de..."

In [56]:
merged.isnull()

      person_id     id   name  character   role  movie_id  title   cast   crew
0         False  False  False      False  False     False  False  False  False
1         False  False  False      False  False     False  False  False  False
2         False  False  False      False  False     False  False  False  False
3         False  False  False      False  False     False  False  False  False
4         False  False  False      False  False     False  False  False  False
...         ...    ...    ...        ...    ...       ...    ...    ...    ...
1989      False  False  False       True  False     False  False  False  False
1990      False  False  False      False  False     False  False  False  False
1991      False  False  False      False  False     False  False  False  False
1992      False  False  False       True  False     False  False  False  False
1993      False  False  False      False  False     False  False  False  False

[1994 rows x 9 columns]

In [61]:
merged['role'].unique()

array(['ACTOR', 'DIRECTOR'], dtype=object)